header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #ffffff;
    z-index: 100;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav_list {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

header .nav_list li a {
    color: #000000;
    font-weight: 500;
}

