main .hello_section {
    display: flex;
    gap: 40px;
    align-items: center;
    background-color: #d8eafe;
    min-height: 100vh;
    padding: 200px 20px 20px 60px;
}

main .hello_section .window_block {
    background: linear-gradient(to right, #3d80f4, #1b4de0);
    height: 400px;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .hello_section .window_block .window {
    width: 330px;
    border-radius: 10px;
    background-color: #0d1933;
    padding: 25px;
    padding-bottom: 15px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main .hello_section .window_block .window .window_control div {
    height: 5px;
    width: 5px;
    border-radius: 50%;
}
main .hello_section .window_block .window .window_control {
    display: flex;
    gap: 3px;
    padding: 3px;
}
main .hello_section .window_block .window .window_control .red {
    background-color: red;
}
main .hello_section .window_block .window .window_control .orange {
    background-color: orange;
}
main .hello_section .window_block .window .window_control .green {
    background-color: green;
}
main .hello_section .window_block .window .content_block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
main .hello_section .window_block .window .content_block .content {
    height: 10px;
    width: 100px;
    background-color: #334256;
}
main .hello_section .window_block .window .content_block .content.first {
    background-color: #3b82f2;
}

main .hello_section .window_block .window h3 {
    color: rgb(219, 219, 219);
    text-align: center;
    font-weight: normal;
}

main .hello_section .info_block {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.info_heading {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
}

main .hello_section .info_block h1 {
    font-size: 80px;
    font-weight: 900;
}
main .hello_section .info_block h1 span {
    color: #3c83f7;
    position: relative;
}
main .hello_section .info_block h1 span:after {
    content: "";
    background-color: #000;
    width: 2px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -5px;
}

main p {
    color: #666;
    line-height: 30px;
}

main .hello_section .info_block .button {
    margin-top: 30px;
}